@page

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Math Game</h1>
            <label id="question"></label>
            <br>
            <input id="input">
            <button onclick="doMath()" class="btn btn-primary">Submit</button>
            <h2 id="output"></h2>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('output').value = 1;
    var question = document.getElementById('question');
    var numberOne = newNumber();
    var numberTwo = newNumber();

    question.innerHTML = 'What is ' + numberOne + ' + ' + numberTwo;

    function doMath() {
        var input = document.getElementById('input');
        var output = document.getElementById('output');

        if (input.value == (numberOne + numberTwo)) {
            
            input.value = "";
            output.innerHTML = 'Correct!';
            output.style.color = randomColor();

            numberOne = newNumber();
            numberTwo = newNumber();

            question.innerHTML = 'What is ' + numberOne + ' + ' + numberTwo;
        }
        else {
            input.value = "";
            output.innerHTML = 'Incorrect. Please try again.';
            output.style.color = randomColor();
        }
    }

    function newNumber() {
        return Math.floor(Math.random() * 11);
    }

    function randomColor() {
    return '#' + ('00000' + (Math.random() * 16777216 << 0).toString(16)).substr(-6);
}
</script>